owner:package_owner@redhat.com
manager:package_owner_manager@redhat.com
qe:package_qe@redhat.com
jira_url:https://issues.redhat.com
jira_api_key:xxStringFromJiraProfilePersonalAccessTokens
jira_user:your-email@redhat.com
centos_fork:git@gitlab.com:package_owner/ca-certificates.git
glab_url_base:https://gitlab.com/
glab_api_key:XXXXX-XXXXXXXX-XXXX-XXXXXX
# cryptosvc integration (used by plan.py to create CRYPTO errata epics)
# cryptosvc_pat: copy from browser DevTools → Application → Local Storage → cryptosvc.ePAT
#   after visiting https://sec-crypto.users.ipa.redhat.com/cryptosvc/jira/user
#   and saving your Jira API key there once.
cryptosvc_url:https://sec-crypto.users.ipa.redhat.com/cryptosvc
crypto_epic_parent:CRYPTO-19515
se_contact:sustaining-eng@redhat.com
cryptosvc_access_token:xxAccessTokenFromCryptosvcAdmin
cryptosvc_pat:eyJhbGciOiJBMjU2S1ciLCJlbmMiOiJBMjU2Q0JDLUhTNTEyIn0...
#firefox:91
#version:2.48
